.vscode/*
/tmp/*
/logs/*
/webroot/img/*
/webroot/img/products/*
/webroot/img/tmp/*
/webroot/img/gifts/*
/webroot/img/networks/*
/webroot/tmp/*
/webroot/phpMyAdmin/tmp/*
/config/definitions.php
/tools/*
/cookie.txt
webroot/cookie*
/webroot/cookie*
/webroot/cookie.txt
/webroot/cookie*
