/**
  * @author   Gustavo Souza Gonçalves
  * @file     webroot/css/styles/cupons/imprime_brinde_shower.css
  * @date     18/08/2017
  */

.brinde-shower.user-result {
    display: none;
}

.brinde-shower.user-result-names {
    display: none;
}

.brinde-shower.user-result-plates {
    display: none;
}

.container-confirmacao-cupom-smart {
    display: none;
}

.container-confirmacao-canhoto-smart {
    display: none;
}