/**
  * @author   Gustavo Souza Gonçalves
  * @file     webroot/css/styles/cupons/impressao_comum_layout_canhoto.css
  * @date     20/04/2018
  */



.logo-rti-brinde {
    height: 50%;
    width: 50%;
    text-align: center
}

.impressao-canhoto-comum{
    display: none;
    width: 300px;
    height: auto;
}

@media print {
    /* @page {
        height: 40mm;
    }; */
    .print_area {
        display: block;
    }
}

img {
    /* width: 60%; */
}


/* .header-cupom {
    width: 50%;
} */

.brinde-shower.user-result {
    display: none;
}

.brinde-shower.user-result-names {
    display: none;
}

.brinde-shower.user-result-plates {
    display: none;
}

.tabela-produtos {
    /* background-color: aqua; */
    margin: 0px auto;
    font-size: 10px;
}
