.logo-rti-shower {
    height: 50%;
    width: 50%;
}

.print-area {
    /* display: none; */
    width: 330px;
    height: 200px;
}

.is-cupom-shower{
    display: none;
}

.is-not-cupom-shower{
    display: none;
}

.is-code128-barcode {
    display: none;
}

.is-pdf417-barcode {
    display: none;
}

#canvas_origin {
    height: 0px;
}

@media print {
    /* @page {
        height: 40mm;
    }; */
    .print_area {
        display: block;
    }
}

.print-area center {
    margin: 0 auto;
}

.product {
    font-weight: bold;
    font-size: 20px;
}

.contact {
    font-weight: bold;
    font-size: 16px;
}

.tabela-produtos {
    /* background-color: aqua; */
    margin: 0px auto;
    font-size: 10px;
}
