.box-container{
    /* height: 400px; */
    width: 400px;
    background-color: #e8e8e8;
    border: 1px color black;
    /* border-radius: 2px; */
    /* position: relative; */
}

.box-items-parent {
   
    
}

.box-items-parent .box-items {
    background-color: #dcd6fa;
    border: 2px solid black;
    /* height: 260px; */
    width: 303px;
    border-radius: 20px;
    /* position: relative; */
    /* list-style-type: none;  */
    margin: auto;
    /* top: 10px; */
    /* padding: 40; */
    /* width: 240px; */
    height: 240px;
}

.box-items{
    /* top: 20px; */
    /* position: relative; */
    /* margin: auto; */
}

.box-items li {
    margin: 10px 10px 5px 5px;
    /* margin: 5px; */
    /* top: 100px; */
    padding: 1px;
    float: left;
    width: 100px;
    height: 100px;
    font-size: 4em;
    text-align: center;
    border: 2px solid black;
}

/* .item-box { */
    /* height: 100px; */
    /* width:  100px; */
    /* float: none; */
    /* margin: auto; */

    /* border: 2px solid black; */
    /* position: absolute; */
    /* opacity: 0.60;     */
    /* padding: 10px; */
/* } */

.item-box:hover {
    opacity: 1.0;
}

/**
 * Estilo de formVinculo
 */

 .form-vinculo {
     display: none;
 }

 .form-vinculo img {
    width: 160px;
    height: 120px;
  
  }
  
  .form-vinculo li {
    display: flex;
    padding: 10px;
    height: 120px;
    background-color: #aaaaaa;
  }
  
  .form-vinculo li .text {
    display: inline-block;
    width: 250px;
    text-justify: center;
    border: 1px solid black;
    line-height: 120px;
  }
  
  .form-vinculo li .button-area {
    display: inline-block;
    width: 80px;
    text-justify: center;
    border: 1px solid black;
    line-height: 120px;
  }
  