/** Configuração para área de inserção manual pelo modo de instascan
*/

.gotas-instascan-manual-insert {
    display: none;
}

.qr_code_reader {
    -webkit-text-security: disc;
    -moz-text-security:circle;
     text-security:circle;
}

.video-cam-container {
    height: 80vh;
}
.video-cam-container-row .video-cam {
    transform: rotate(270deg) scale(0.55);
}


.video-receipt-captured-row .captured-cam {
    transform: rotate(270deg) scale(0.55);

}
