/* Configurações de estilo para container de Captura de Imagem */

.gotas-camera-manual-insert{
    display: none;
}

.video-gotas-capture-container {
    display: none;
}

.user-btn-proceed span {
    vertical-align: super;
}

.video-cam-container {
    /* overflow: auto; */
}

.video-cam-container video {
    margin-top: 240px;
    zoom: 0.50;
    width: 100%;
}

.video-cam-container canvas {
    margin-top: 300px;
    zoom: 0.80;
}

.video-cam {
    transform: rotate(270deg);
    /* height: 320px; */
    height: 60vh;
/*     zoom: 0.25; */
}

.video-cam video {
    margin-top: 300px;
}

.captured-cam {
    transform: rotate(270deg);
}

.video-gotas-captured canvas {
    /* margin: 0 auto; */
    display: block;
}

.video-gotas-snapshot {
    text-align: center;
}

.video-gotas-snapshot .btn {
    margin: 5px auto;
    display: block;
    width: 130px;
    padding: 10px;
}

.video-gotas-snapshot div span {
    vertical-align: super;
}

.video-gotas-confirm div {
    margin: 5px auto;
    display: block;
    width: 100px;
}

.buttons-region {
    text-align: center;
}

.buttons-region .btn {
    padding: 10px;
    margin: 10px;
    width: 130px;
}

.buttons-region .btn span {
    vertical-align: super;
}

.gotas-products-table-container {
    height: 300px;
    margin: 5px 0px;
    /* max-height: 300px; */
    overflow-x: hidden;
    overflow-y: auto;
}
