*.jpg
*.jpeg
*.png
*.gif

!/icons/rti_cupom.png
!/icons/*
!/usuarios/documentos/empty.jpg
!/usuarios/fotosPerfil/empty.jpg
!/usuarios/fotosPerfil/default-user.png
!loading_login.gif
!loading.gif
!logotipogotas.png
!logotipogotas_mini.png

